<% @pets.each do |pet| %>
  <p><%= pet.name %></p>
  <img src="<%= pet.image %>" alt="Image of <%= pet.name %> " id="pet_<%= pet.id %>_image" width="250" height="300">
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
<% end %>
<%= link_to "Create Pet", "/shelters/#{params[:id]}/pets/new", method: "get" %>
