<h1>Application Number: <%= @application.id %></h1>

<h2>User Name: <%= @application.user.name %></h2>
<p>Street Address: <%= @application.user.street_address %></p>
<p>City: <%= @application.user.city %></p>
<p>State: <%= @application.user.state %></p>
<p>Zip: <%= @application.user.zip %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: "get" %>
<% end %>
