<a href="/pets">Pets Index</a>
<h2><%= @pet.name %></h2>
<p><%= @pet.image %></p>
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age %></p>
<p><%= @pet.sex %></p>
<p><%= @pet.adoption_status %></p>
