<%= link_to "Pet Index", "/pets", method: "get" %>
<%= link_to "Shelter Index", "/shelters", method: "get" %>

<h2><%= link_to "#{@pet.name}", "/pets/#{@pet.id}", method: "get" %></h2></br>
<img src="<%= @pet.image %>" alt="Image of <%= @pet.name %> " id="pet_<%= @pet.id %>_image" width="250" height="300">
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age %></p>
<p><%= @pet.sex %></p>
<p><%= @pet.adoption_status %></p>
<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<% if !@pet.on_approved_application? %>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: "delete" %></br></br>
<% end %>
<%= link_to "View All Applications", "/pets/#{@pet.id}/applications", method: "get" %>
