<a href="/pets">Pets Index</a>
<h2><%= @pet.name %></h2>
<img src="<%= @pet.image %>" alt="Image of <%= @pet.name %> "width="250" height="300">
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age %></p>
<p><%= @pet.sex %></p>
<p><%= @pet.adoption_status %></p>
<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: "delete" %>
