<h1><%= @user.name %></h1></br>
<p><%= @user.street_address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>

<% if @user.reviews? %>
  <h2>Average Rating of Reviews: <%= @user.average_review_rating.to_f.round(1) %></h2>

  <section id="best-review">
    <h2>Best Review:</h2>
    <h3><%= @user.best_review.title %></h3>
    <p><%= @user.best_review.rating %></p>
    <p><%= @user.best_review.content %></p>
  </section>

  <section id="worst-review">
    <h2>Worst Review:</h2>
    <h3><%= @user.worst_review.title %></h3>
    <p><%= @user.worst_review.rating %></p>
    <p><%= @user.worst_review.content %></p>
  </section>
<% end %>

<% @user.reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
  </section>
<% end %>
