
<h2>User Name: <%= app.user.name %></h2>
<p>Street Address: <%= app.user.street_address %></p>
<p>City: <%= app.user.city %></p>
<p>State: <%= app.user.state %></p>
<p>Zip: <%= app.user.zip %></p>
<p>Description: <%= app.description %></p>
<p id="status">Status: <%= app.status %></p>
